body {
    margin: 0;
    padding: 0;

}

.nav {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ECEFF1;

    .logo {

        max-width: 7rem;


        img {
            width: 100%;
        }
    }
}

.home {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    padding: 5rem;

    .wallet {
        max-width: 33rem;

        img {
            width: 100%;
        }
    }

    .cta {
        width: 20rem;

        a{ 
            &:hover{
                text-decoration: underline;
                opacity: 0.9;
                
            }
            img {
                align-items: center;
                width: 1.5rem;
                margin-right: 0.3rem;
            }
        }

        h2 {

            font-size: 4rem;
            font-weight: 700;
        }

        p {
            font-size: 1.35rem;
            width: 150%;
            font-weight: 500;
        }

        .cta-cta {
            width: 150%;
            
            .btn-started {
                font-size: 1rem;
                padding: 1.2rem 3rem;
                border-radius: 6px;
                
            }

            input {
                margin-right: 1rem;
                border: 1px solid #DEDFE2;
                width: 50%;
                padding: 1rem;
                &::placeholder{
                    margin: 0;
                    
                }

            }
        }
    }
}

.table{
    width: 100%;
    padding: 2rem 17rem;

    #name{
        padding-right: 20rem;
        
    }
    table{
        th{
        color: #8d939e;
        font-weight: 500;
        
    }
    td{
        color: black;
        font-weight: 500;
        
    }
}
}

.other-coins {
   
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
    padding:  0rem 0rem 4rem 4rem;
    
    .gift{
        width: 20rem;
        padding: 4rem 0;
        h2{
        font-weight: 700;
     }
    p{
       
            
            width: 100%;
            font-weight: 300;
        
    }
    .btn-started{
        border-radius: 4px;
        padding: 0.61rem 1rem;
    }
    }
    .coins-coin{
        width: 35rem;
        padding: 0  0 5rem;
       ul{
        list-style: none;
        padding: 0;
        .li{
            font-size: 1.5rem;
            padding: 1.5rem 1rem;
            font-weight: 500;
            display: flex;
            justify-content: space-between;

            .span{
                margin-left: 1rem;
                font-weight: 450;
                font-size: 1.4rem;
            }
            .gain{
               
               font-size: 1.2rem;
            }
            .coins{
                width: 2.5rem;
            }
            &:hover{
                
                outline: none;
                border-radius: 6px;
                box-shadow: 0px 0px 25px #4d4d4d50;
                transform: translateY(-1px);
                transition: all 0.7s ease-in;
            }
        }
       }
    }
}

.home-2{
    @extend .home;
    padding-top: 0;
    border-bottom: 1px solid #ECEFF1;
    ul{
        list-style: none;
        .li-li{
            display: flex;
            flex-direction: row;
            width: 28rem;
            align-items: center;
            padding: 1rem 1.5rem;
            .coins{
                width: 3rem;
            }
            .li-list{
                li{
                    h4{
                        font-size: 1.52rem;
                        font-weight: 700;
                    }
                  
                }
                span{
                    width: 100%;
                    color: #555555;
                    font-size: 1.1rem;
                }
            }
        }    
    }
    .wallet{
        margin-top: 3rem;
        max-width: 50rem;
    }
}

