.padre{
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo{
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    
    
}

.padre:hover .hijo{
    animation: move 4s ease-in-out forwards infinite alternate;
    }

@keyframes move{
    0%{
        background-color: aliceblue;
        transform: translateX(0%) translateY(0%) ;
    }
    25%{
        background-color: aqua;
        transform: translateX(100%) translateY(0%) ;
    }
    50%{
        background-color: aquamarine;
        transform: translateX(100%) translateY(100%) ;
    }
    75%{
        background-color: cyan;
        transform: translateX(0%) translateY(100%) ;
    }
    100%{
        background-color: blueviolet;
        transform: translateX(0%) translateY(0%) ;
    }
}
