*{
    padding: 0;
    margin: 0;
}

.principal{
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    min-width: 100vw;
}
.lateralI{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    
    flex-direction: column;
    gap: 10px;
    
    
}
.laterald{
    display: flex;
    background-color: rgb(206, 206, 206);
    padding: 10px;
    margin: 10px;
    flex-grow: 2;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  

}
.elemento1V{

    background-color: red;
    border: white;
    border: 1px solid white;

}
.elemento2V{

    background-color:blue;
    border: white;
    border: 1px solid white;
}
.elemento3V{

    background-color: rgb(251, 255, 0);
    border: 1px solid white;
}


@media  (max-width: 640px) {
    .principal{
        display: flex;
        flex-direction: column;
        
        
    }
    .lateralI{
        display: flex;
        padding: 10px;
        margin: 10px;
        background-color: aqua;
        flex-direction: row;
        justify-content: space-evenly;
           
    }

}