.btn-started {
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  align-items: center;
  color: white;
  background-color: #0052FF;
}
.btn-started:hover {
  opacity: 0.9;
}

.btn-sec {
  padding: 0.3rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  align-items: center;
  background-color: transparent;
  color: black;
}
.btn-sec:hover {
  color: #0052FF;
}

.list {
  margin-bottom: 0;
  list-style: none;
  display: flex;
  font-weight: 500;
  justify-content: space-around;
  gap: 2rem;
}
.list li:hover {
  color: #0052FF;
}

.coins {
  width: 2rem;
  margin-right: 1rem;
}

.crear {
  text-decoration: none;
  color: #0052FF;
  font-weight: 600;
  font-size: 1.2rem;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ECEFF1;
}
.nav .logo {
  max-width: 7rem;
}
.nav .logo img {
  width: 100%;
}

.home, .home-2 {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 100%;
  padding: 5rem;
}
.home .wallet, .home-2 .wallet {
  max-width: 33rem;
}
.home .wallet img, .home-2 .wallet img {
  width: 100%;
}
.home .cta, .home-2 .cta {
  width: 20rem;
}
.home .cta a:hover, .home-2 .cta a:hover {
  text-decoration: underline;
  opacity: 0.9;
}
.home .cta a img, .home-2 .cta a img {
  align-items: center;
  width: 1.5rem;
  margin-right: 0.3rem;
}
.home .cta h2, .home-2 .cta h2 {
  font-size: 4rem;
  font-weight: 700;
}
.home .cta p, .home-2 .cta p {
  font-size: 1.35rem;
  width: 150%;
  font-weight: 500;
}
.home .cta .cta-cta, .home-2 .cta .cta-cta {
  width: 150%;
}
.home .cta .cta-cta .btn-started, .home-2 .cta .cta-cta .btn-started {
  font-size: 1rem;
  padding: 1.2rem 3rem;
  border-radius: 6px;
}
.home .cta .cta-cta input, .home-2 .cta .cta-cta input {
  margin-right: 1rem;
  border: 1px solid #DEDFE2;
  width: 50%;
  padding: 1rem;
}
.home .cta .cta-cta input::placeholder, .home-2 .cta .cta-cta input::placeholder {
  margin: 0;
}

.table {
  width: 100%;
  padding: 2rem 17rem;
}
.table #name {
  padding-right: 20rem;
}
.table table th {
  color: #8d939e;
  font-weight: 500;
}
.table table td {
  color: black;
  font-weight: 500;
}

.other-coins {
  display: flex;
  justify-content: center;
  gap: 10rem;
  width: 100%;
  padding: 0rem 0rem 4rem 4rem;
}
.other-coins .gift {
  width: 20rem;
  padding: 4rem 0;
}
.other-coins .gift h2 {
  font-weight: 700;
}
.other-coins .gift p {
  width: 100%;
  font-weight: 300;
}
.other-coins .gift .btn-started {
  border-radius: 4px;
  padding: 0.61rem 1rem;
}
.other-coins .coins-coin {
  width: 35rem;
  padding: 0 0 5rem;
}
.other-coins .coins-coin ul {
  list-style: none;
  padding: 0;
}
.other-coins .coins-coin ul .li {
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.other-coins .coins-coin ul .li .span {
  margin-left: 1rem;
  font-weight: 450;
  font-size: 1.4rem;
}
.other-coins .coins-coin ul .li .gain {
  font-size: 1.2rem;
}
.other-coins .coins-coin ul .li .coins {
  width: 2.5rem;
}
.other-coins .coins-coin ul .li:hover {
  outline: none;
  border-radius: 6px;
  box-shadow: 0px 0px 25px rgba(77, 77, 77, 0.3137254902);
  transform: translateY(-1px);
  transition: all 0.7s ease-in;
}

.home-2 {
  padding-top: 0;
  border-bottom: 1px solid #ECEFF1;
}
.home-2 ul {
  list-style: none;
}
.home-2 ul .li-li {
  display: flex;
  flex-direction: row;
  width: 28rem;
  align-items: center;
  padding: 1rem 1.5rem;
}
.home-2 ul .li-li .coins {
  width: 3rem;
}
.home-2 ul .li-li .li-list li h4 {
  font-size: 1.52rem;
  font-weight: 700;
}
.home-2 ul .li-li .li-list span {
  width: 100%;
  color: #555555;
  font-size: 1.1rem;
}
.home-2 .wallet {
  margin-top: 3rem;
  max-width: 50rem;
}

.features .header h2 {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}
.features .header span {
  display: flex;
  font-size: 1.35rem;
  justify-content: center;
  align-items: center;
  color: #555555;
}
.features .lista {
  display: flex;
  width: 100%;
  padding: 5rem;
  justify-content: center;
  flex-direction: column;
}
.features .lista .list .seguro {
  max-width: 18rem;
}
.features .lista .list li {
  padding: 2rem 0rem;
  font-size: 1.32rem;
}
.features .lista .list li:hover {
  color: black;
}
.features .lista .list p {
  font-size: 1rem;
  color: #6e6e6e;
}

/*# sourceMappingURL=style.css.map */
